.hållaTalPage {
    width: 100%;
    min-height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 220px;
    position: relative;
}

.borderTop {
    position: fixed;
    top: -20px;
    left: 0;
    width: 100%;
    height: 200px;
    pointer-events: none;
    z-index: 22;
}

.borderTop img {
    object-fit: contain !important;
    object-position: left top !important;
  }

.borderBottom {
    position: fixed;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 200px;
    pointer-events: none;
    z-index: 22;
}

.borderBottom img {
    object-fit: contain !important;
    object-position: left bottom !important;
}

.hållaTalMain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 800px;
        padding: 4rem 2rem;
        margin: 0 auto;
        position: relative;
        z-index: 21;
        margin-top: 100px;
        margin-bottom: 120px;   
}

.hållaTalTitle {
    font-size: 55px;
    text-align: center;
  }

  .hållaTalTitle1 {
    font-size: 30px;
    text-align: center;
    font-weight: 200;
    margin-bottom: 1rem;
  }

  .hållaTalSubtitle {
    font-size: 18px;
    text-align: center;
    font-weight: 200;
  }

  .hållaTalSubtitle1 {
    font-size: 16px;
    text-align: center;
    font-weight: 200;
  }

  .hållaTalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 2rem;
    font-weight: 200;
    text-align: center;
  }

  .hållaTalSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;

  }

  .hållaTalSectionText {
    font-size: 16px;
    text-align: center;
    font-weight: 200;
  }

  .hållaTalSectionText1 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin-top: 1rem;
  }

  .hållaTalSectionText2 {
    font-size: 38px;
    text-align: center;
    font-weight: 400;
    margin-top: 1rem;
  }

  .hållaTalSectionText3 {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
  }

  @media (max-width: 768px) {
    .hållaTalPage {
      padding-right: 0;
    }

    .hållaTalMain {
      width: 90%;
      padding: 2rem 1rem;
      margin-top: 50px;
      margin-bottom: 180px;
    }

    .hållaTalTitle {
      font-size: 45px;
    }

    .hållaTalTitle1 {
      font-size: 26px;
      margin-bottom: 0.8rem;
    }

    .hållaTalSubtitle {
      font-size: 17px;
    }

    .hållaTalSubtitle1 {
      font-size: 16px;
    }

    .hållaTalContent {
      width: 90%;
      margin-top: 1.5rem;
    }

    .hållaTalSection {
      margin-bottom: 1.5rem;
    }

    .hållaTalSectionText {
      font-size: 16px;
    }

    .hållaTalSectionText1 {
      font-size: 18px;
      margin-top: 0.8rem;
    }

    .hållaTalSectionText2 {
      font-size: 32px;
      margin-top: 0.8rem;
    }

    .hållaTalSectionText3 {
      font-size: 20px;
    }

    .borderTop {
      height: 150px;
      top: -10px;
    }

    .borderBottom {
      height: 150px;
      bottom: 90px;
    }
  }


