.informationPage {
    width: 100%;
    min-height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 220px;
    position: relative;
  }
  
  .underline {
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
  }
  
  .borderTop {
    position: fixed;
    top: -20px;
    left: 0;
    width: 100%;
    height: 200px;
    pointer-events: none;
    z-index: 22;
  }
  
  .borderTop img {
    object-fit: contain !important;
    object-position: left top !important;
  }
  
  .borderBottom {
    position: fixed;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 200px;
    pointer-events: none;
    z-index: 22;
  }
  
  .borderBottom img {
    object-fit: contain !important;
    object-position: left bottom !important;
  }
  
  .informationMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 4rem 2rem;
    margin: 0 auto;
    position: relative;
    z-index: 21;
    margin-top: 100px;
    margin-bottom: 120px;
  }

  .informationTitle {
    font-size: 55px;
    text-align: center;
  }

  .informationSubtitle {
    font-size: 18px;
    text-align: center;
    font-weight: 200;
  }

  .informationSubtitle1 {
    font-size: 16px;
    text-align: center;
    font-weight: 200;
  }

  .informationContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 2rem;
    font-weight: 200;
    text-align: center;
  }

  .informationSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;

  }

  .informationSection1 {
    font-size: 16px;
    text-align: center;
    font-weight: 200;
    margin-top: 1rem;
  }

  .infoTextImportant {
    font-weight: 600;
    font-size: 16px;
  }

  .informationImage {
    width: 80%;
    height: auto;
  }
  @media (max-width: 450px) {
    .informationPage {
      padding-right: 0;
    }

    .informationMain {
      width: 90%;
      padding: 2rem 1rem;
      margin-top: 50px;
      margin-bottom: 150px;
    }

    .informationTitle {
      font-size: 45px;
    }

    .informationSubtitle {
      font-size: 17px;
    }

    .informationSubtitle1 {
      font-size: 16px;
    }

    .informationContent {
      width: 90%;
      margin-top: 1.5rem;
    }

    .informationSection {
      margin-bottom: 1.5rem;
    }

    .informationSection1 {
      font-size: 16px;
      margin-top: 0.8rem;
    }

    .infoTextImportant {
      font-size: 16px;
    }

    .informationImage {
      width: 120%;
    }

    .borderTop {
      height: 150px;
      top: -10px;
    }

    .borderBottom {
      height: 150px;
      bottom: 90px;
    }
  }
  @media (max-width: 385px) {
    .informationMain {
      margin-top: 50px;
    }
    .borderBottom {
      bottom: 60px;
    }
    
  }
  