.hittaPage {
    width: 100%;
    min-height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 220px;
    position: relative;
  }

  .borderTop {
    position: fixed;
    top: -20px;
    left: 0;
    width: 100%;
    height: 200px;
    pointer-events: none;
    z-index: 22;
  }
  
  .borderTop img {
    object-fit: contain !important;
    object-position: left top !important;
  }
  
  .borderBottom {
    position: fixed;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 200px;
    pointer-events: none;
    z-index: 22;
  }
  
  .borderBottom img {
    object-fit: contain !important;
    object-position: left bottom !important;
  }
  
  .hittaMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 64px 32px;
    margin: 0 auto;
    position: relative;
    z-index: 21;
    margin-top: 100px;
    margin-bottom: 120px;
  }

  .hittaTitle {
    font-size: 55px;
    text-align: center;
  }

  .hittaSubtitle {
    font-size: 18px;
    text-align: center;
    font-weight: 200;
  }

  .hittaSubtitle1 {
    font-size: 16px;
    text-align: center;
    font-weight: 200;
  }

  .hittaContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 32px;
    font-weight: 200;
    text-align: center;
  }

  .hittaContentTitle {
    font-size: 45px;
    text-align: center;
    font-weight: 200;
    margin-bottom: 32px;
  }

  .hittaContentMap {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }

@media (max-width: 450px) {
  .hittaPage {
    padding-right: 0;
  }

  .hittaMain {
    width: 90%;
    padding: 32px 16px;
    margin-top: 50px;
    margin-bottom: 250px;
  }

  .hittaTitle {
    font-size: 45px;
  }

  .hittaSubtitle {
    font-size: 17px;
  }

  .hittaSubtitle1 {
    font-size: 16px;
  }

  .hittaContent {
    width: 90%;
    margin-top: 24px;
  }

  .hittaContentTitle {
    font-size: 35px;
    margin-bottom: 24px;
  }

  .hittaContentMap {
    width: 100%;
    border-radius: 6px;
  }

  .borderTop {
    height: 150px;
    top: -10px;
  }

  .borderBottom {
    height: 150px;
    bottom: 90px;
  }
}

@media (max-width: 385px) {
  .hittaTitle {
    font-size: 35px;
  }
  .borderBottom {
    bottom: 60px;
  }
}
  