.home {
  width: 100%;
  min-height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 220px; /* För att kompensera för header-bredden */
  position: relative;
}

.borderTop {
  position: fixed;
  top: -20px;
  left: 0;
  width: 100%;
  height: 200px;
  pointer-events: none;
  z-index: 10;
}

.borderTop img {
  object-fit: contain !important;
  object-position: left top !important;
}

.borderBottom {
  position: fixed;
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 200px;
  pointer-events: none;
  z-index: 22;
}

.borderBottom img {
  object-fit: contain !important;
  object-position: left bottom !important;
}

.homeMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  padding: 2rem;
  margin: 0 auto;
  position: relative;
  z-index: 21;
}

.homeTitle {
  font-size: 65px;
  text-align: center;
}

.homeSubtitle {
  font-size: 20px;
  text-align: center;
  font-weight: 200;
}

.homeSubtitle1 {
  font-size: 18px;
  text-align: center;
  font-weight: 200;
}

.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.homeContentTitle {
  font-size: 40px;
  text-align: center;
}

.homeContentText {
  font-size: 20px;
  text-align: center;
  font-weight: 200;
  margin-top: 1rem;
}

.osaReminder {
  z-index: 20;
  text-align: center;
}

@media (max-width: 450px) {
  .home {
    padding-right: 0; 
  }
  .homeMain {
    width: 90%;
    margin-bottom: 150px;
    margin-top: -10px;
  }
  .homeTitle {
    font-size: 45px;
  }
  .homeSubtitle {
    font-size: 17px;
  }
  .homeSubtitle1 {
    font-size: 16px;
  }
  .homeContent {
    width: 100%;
  }
  .homeContentTitle {
    font-size: 30px;
  }
  .homeContentText {
    font-size: 16px;
  }
  .osaReminder {
    font-size: 18px;
  }
  .borderTop {
    top: -10px;
  }
  .borderBottom {
    bottom: 90px;
  }
}

@media (max-width: 385px) {
  .homeMain {
    margin-top: 50px;
  }
  .borderBottom {
    bottom: 60px;
  }
  
}